* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width:100%;
    height:80px;
    margin-top: 15px;
}

.container{
    display:flex;
    align-items: center;
    height:80px;
    width:100%;
    max-width: 1280px;
    height:44px;
    justify-content: space-between;
    margin:  0 auto;
    padding:0px 32px 0px 32px;
}

img{
    width:27px;
    height: 26.99px;
}

.logo{
    display:flex;
    align-items: center;
    width: 113px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color:#3A404E;
}

.logo p{
    margin-left: 8px;
}

.paginas{
    display: flex;
    width: 362px;
    height: 32px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.botoes{
     width: 207px;
     height: 44px;
     gap: 12px;
}

.btn1{
    width: 83px;
    height: 44px;
    border-radius: 8px;
    background-color: white;
    border:none;
    cursor: pointer;
}

.btn2{
    width: 112px;
    height: 44px;
    border-radius: 8px;
    border:1px ;
    padding: 10px 18px 10px 18px;
    gap:8px;
    color:white;
    background-color: #8E2424;
    cursor: pointer;
}